BuscarVuelo/WebApplication2/WebApplication2/Web References/ConsultarVuelos/ConsultarVuelos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicio/" targetNamespace="http://servicio/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ParseException" type="tns:ParseException" />
  <xs:element name="RegistrarReserva" type="tns:RegistrarReserva" />
  <xs:element name="RegistrarReservaResponse" type="tns:RegistrarReservaResponse" />
  <xs:element name="VuelosIdaYVuelta" type="tns:VuelosIdaYVuelta" />
  <xs:element name="VuelosIdaYVueltaCantidad" type="tns:VuelosIdaYVueltaCantidad" />
  <xs:element name="VuelosIdaYVueltaCantidadResponse" type="tns:VuelosIdaYVueltaCantidadResponse" />
  <xs:element name="VuelosIdaYVueltaResponse" type="tns:VuelosIdaYVueltaResponse" />
  <xs:element name="prueba" type="tns:prueba" />
  <xs:element name="pruebaResponse" type="tns:pruebaResponse" />
  <xs:complexType name="VuelosIdaYVueltaCantidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="destino" type="xs:string" />
      <xs:element minOccurs="0" name="fechaSalida" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegreso" type="xs:string" />
      <xs:element minOccurs="0" name="nroPasajeros" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VuelosIdaYVueltaCantidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParseException">
    <xs:sequence>
      <xs:element name="errorOffset" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VuelosIdaYVuelta">
    <xs:sequence>
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="destino" type="xs:string" />
      <xs:element minOccurs="0" name="fechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nroPasajeros" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VuelosIdaYVueltaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:vuelo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vuelo">
    <xs:sequence>
      <xs:element minOccurs="0" name="aereolina" type="xs:string" />
      <xs:element minOccurs="0" name="cantidadAsientos" type="xs:int" />
      <xs:element minOccurs="0" name="clase" type="xs:string" />
      <xs:element minOccurs="0" name="destino" type="xs:string" />
      <xs:element minOccurs="0" name="fechaOrigen" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombreAreolinea" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="vuelo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="agencia" type="xs:string" />
      <xs:element minOccurs="0" name="vuelo" type="xs:string" />
      <xs:element minOccurs="0" name="clase" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="nroPasajes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarReservaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:mensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prueba">
    <xs:sequence>
      <xs:element minOccurs="0" name="origen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pruebaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>