WCF_Hoteles/WCF_Hoteles_Test/Service References/Hoteles_Ref/Hoteles1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfhotel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hotel" nillable="true" type="tns:hotel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfhotel" nillable="true" type="tns:ArrayOfhotel" />
  <xs:complexType name="hotel">
    <xs:sequence>
      <xs:element name="cuartos" nillable="true" type="tns:ArrayOfhotel_cuarto" />
      <xs:element name="departamaneto" type="xs:int" />
      <xs:element name="direccion" nillable="true" type="xs:string" />
      <xs:element name="distrito" type="xs:int" />
      <xs:element name="id" nillable="true" type="xs:string" />
      <xs:element name="nombre" nillable="true" type="xs:string" />
      <xs:element name="provincia" type="xs:int" />
      <xs:element name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hotel" nillable="true" type="tns:hotel" />
  <xs:complexType name="ArrayOfhotel_cuarto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hotel_cuarto" nillable="true" type="tns:hotel_cuarto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfhotel_cuarto" nillable="true" type="tns:ArrayOfhotel_cuarto" />
  <xs:complexType name="hotel_cuarto">
    <xs:sequence>
      <xs:element name="capacidad" type="xs:int" />
      <xs:element name="costo_noche" type="xs:double" />
      <xs:element name="id" nillable="true" type="xs:string" />
      <xs:element name="numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hotel_cuarto" nillable="true" type="tns:hotel_cuarto" />
</xs:schema>