WebProyecto/WebProyecto/Connected Services/ServicioHoteles/Hoteles.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Hoteles" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64095/Hoteles.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64095/Hoteles.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64095/Hoteles.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Hoteles.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHoteles_listarTodosHoteles_InputMessage">
    <wsdl:part name="parameters" element="tns:listarTodosHoteles" />
  </wsdl:message>
  <wsdl:message name="IHoteles_listarTodosHoteles_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarTodosHotelesResponse" />
  </wsdl:message>
  <wsdl:message name="IHoteles_listarHotelesxHorarios_InputMessage">
    <wsdl:part name="parameters" element="tns:listarHotelesxHorarios" />
  </wsdl:message>
  <wsdl:message name="IHoteles_listarHotelesxHorarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarHotelesxHorariosResponse" />
  </wsdl:message>
  <wsdl:message name="IHoteles_listarCuartosPorHotel_InputMessage">
    <wsdl:part name="parameters" element="tns:listarCuartosPorHotel" />
  </wsdl:message>
  <wsdl:message name="IHoteles_listarCuartosPorHotel_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarCuartosPorHotelResponse" />
  </wsdl:message>
  <wsdl:message name="IHoteles_grabarReservaHotel_InputMessage">
    <wsdl:part name="parameters" element="tns:grabarReservaHotel" />
  </wsdl:message>
  <wsdl:message name="IHoteles_grabarReservaHotel_OutputMessage">
    <wsdl:part name="parameters" element="tns:grabarReservaHotelResponse" />
  </wsdl:message>
  <wsdl:message name="IHoteles_ListarDestinoXFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDestinoXFiltro" />
  </wsdl:message>
  <wsdl:message name="IHoteles_ListarDestinoXFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDestinoXFiltroResponse" />
  </wsdl:message>
  <wsdl:portType name="IHoteles">
    <wsdl:operation name="listarTodosHoteles">
      <wsdl:input wsaw:Action="http://tempuri.org/IHoteles/listarTodosHoteles" message="tns:IHoteles_listarTodosHoteles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHoteles/listarTodosHotelesResponse" message="tns:IHoteles_listarTodosHoteles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarHotelesxHorarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IHoteles/listarHotelesxHorarios" message="tns:IHoteles_listarHotelesxHorarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHoteles/listarHotelesxHorariosResponse" message="tns:IHoteles_listarHotelesxHorarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarCuartosPorHotel">
      <wsdl:input wsaw:Action="http://tempuri.org/IHoteles/listarCuartosPorHotel" message="tns:IHoteles_listarCuartosPorHotel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHoteles/listarCuartosPorHotelResponse" message="tns:IHoteles_listarCuartosPorHotel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="grabarReservaHotel">
      <wsdl:input wsaw:Action="http://tempuri.org/IHoteles/grabarReservaHotel" message="tns:IHoteles_grabarReservaHotel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHoteles/grabarReservaHotelResponse" message="tns:IHoteles_grabarReservaHotel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarDestinoXFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/IHoteles/ListarDestinoXFiltro" message="tns:IHoteles_ListarDestinoXFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHoteles/ListarDestinoXFiltroResponse" message="tns:IHoteles_ListarDestinoXFiltro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHoteles" type="tns:IHoteles">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarTodosHoteles">
      <soap:operation soapAction="http://tempuri.org/IHoteles/listarTodosHoteles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarHotelesxHorarios">
      <soap:operation soapAction="http://tempuri.org/IHoteles/listarHotelesxHorarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarCuartosPorHotel">
      <soap:operation soapAction="http://tempuri.org/IHoteles/listarCuartosPorHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="grabarReservaHotel">
      <soap:operation soapAction="http://tempuri.org/IHoteles/grabarReservaHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDestinoXFiltro">
      <soap:operation soapAction="http://tempuri.org/IHoteles/ListarDestinoXFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hoteles">
    <wsdl:port name="BasicHttpBinding_IHoteles" binding="tns:BasicHttpBinding_IHoteles">
      <soap:address location="http://localhost:64095/Hoteles.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>